html, body {
  margin: 0px;
  height: 100%;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 50px;
	max-Width:50px;
}

.colourPalette{
	position: sticky; /* added to stop canvas from convering bottom bar */
	grid-area: colourP;
	display:flex;
	flex-direction: grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px; /* padding between pallette and options */
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: 70px 430px  minmax(500px, 1fr);
		grid-template-rows: 35px minmax(500px, 1fr) 160px;
		grid-template-areas:
               "header header header"
				"sidebar content content"
                "colourP colourP options";

		background-color: #fff;
		color: #444;
	}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}


#bottombar {
	position: sticky; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: start; 
} 


#sliderContainer {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin: 20px; 
	margin-top: 0px; 
}


.sliderGroup {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.sliderGroup p {  
    margin-bottom: 5px; 
    margin-top: 20px;   
}

.sliderGroup .spirographSlider { 
    margin-top: 0px; 
}

